<!-- react_component calls app/javascript/bundles/HelloWorld/components/HelloWorld.jsx: -->
<!-- (@hello_world_props comes from app/controllers/hello_world_controller.rb) -->
<%= react_component("AppRouter", props: @app_props, prerender: false) %>

<h1>Is It Vegan?</h1>
