<!DOCTYPE html>
<html class='no-js'>
  <head>
    <title>Is It Vegan? | Food Product Search</title>

    <!-- Required meta tags -->
    <%= csrf_meta_tags %>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">

    <!-- Foundation CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.1.1/motion-ui.min.css" />

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'app-bundle' %>
  </head>

  <body>
    <%= yield %>

    <!-- Optional JavaScript -->
    <!-- jQuery, Popper.js, Bootstrap JS, Foundation JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js" />
  </body>
</html>
