<!DOCTYPE html>
<html>
  <head>
    <title>Is It Vegan?</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css" />
    <%= javascript_pack_tag 'app-bundle' %>
  </head>

  <body>
    <%= yield %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js" />
  </body>
</html>
